<a href="https://colab.research.google.com/github/propst06/DataMining/blob/main/KaitlynPropstAssignment4DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import io
import requests
url="https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.read_csv("https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD", low_memory=False)
#Import data set one

In [4]:
df.head()

  Utilization Type State  Labeler Code  ...  Longitude Location          NDC
0             FFSU    XX         49502  ...        NaN      NaN  49502081003
1             MCOU    XX           603  ...        NaN      NaN  00603388112
2             MCOU    XX            78  ...        NaN      NaN  00078050215
3             MCOU    XX           603  ...        NaN      NaN  00603499028
4             MCOU    XX         11980  ...        NaN      NaN  11980022810

[5 rows x 20 columns]

In [5]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df2 = sns.load_dataset("anscombe")
#import data set two

In [7]:
print(df2)

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [9]:
row_concat = pd.concat([df, df2])

print(row_concat)
#put data sets together in a list

   Utilization Type State  Labeler Code  ...  dataset     x      y
0              FFSU    XX       49502.0  ...      NaN   NaN    NaN
1              MCOU    XX         603.0  ...      NaN   NaN    NaN
2              MCOU    XX          78.0  ...      NaN   NaN    NaN
3              MCOU    XX         603.0  ...      NaN   NaN    NaN
4              MCOU    XX       11980.0  ...      NaN   NaN    NaN
..              ...   ...           ...  ...      ...   ...    ...
39              NaN   NaN           NaN  ...       IV   8.0   5.25
40              NaN   NaN           NaN  ...       IV  19.0  12.50
41              NaN   NaN           NaN  ...       IV   8.0   5.56
42              NaN   NaN           NaN  ...       IV   8.0   7.91
43              NaN   NaN           NaN  ...       IV   8.0   6.89

[3119859 rows x 23 columns]

In [11]:
df3 = row_concat

print(df3)

   Utilization Type State  Labeler Code  ...  dataset     x      y
0              FFSU    XX       49502.0  ...      NaN   NaN    NaN
1              MCOU    XX         603.0  ...      NaN   NaN    NaN
2              MCOU    XX          78.0  ...      NaN   NaN    NaN
3              MCOU    XX         603.0  ...      NaN   NaN    NaN
4              MCOU    XX       11980.0  ...      NaN   NaN    NaN
..              ...   ...           ...  ...      ...   ...    ...
39              NaN   NaN           NaN  ...       IV   8.0   5.25
40              NaN   NaN           NaN  ...       IV  19.0  12.50
41              NaN   NaN           NaN  ...       IV   8.0   5.56
42              NaN   NaN           NaN  ...       IV   8.0   7.91
43              NaN   NaN           NaN  ...       IV   8.0   6.89

[3119859 rows x 23 columns]

In [12]:
df3.isnull().sum()

Utilization Type                       44
State                                  44
Labeler Code                           44
Product Code                           44
Package Size                           68
Year                                   44
Quarter                                44
Product Name                          652
Units Reimbursed                  1583729
Suppression Used                       44
Number of Prescriptions           1583729
Total Amount Reimbursed           1583729
Medicaid Amount Reimbursed        1583729
Non Medicaid Amount Reimbursed    1583729
Quarter Begin                          44
Quarter Begin Date                     44
Latitude                           218920
Longitude                          218920
Location                           218920
NDC                                    44
dataset                           3119815
x                                 3119815
y                                 3119815
dtype: int64

In [17]:
df4 = df.append(df2)
print(df4)

   Utilization Type State  Labeler Code  ...  dataset     x      y
0              FFSU    XX       49502.0  ...      NaN   NaN    NaN
1              MCOU    XX         603.0  ...      NaN   NaN    NaN
2              MCOU    XX          78.0  ...      NaN   NaN    NaN
3              MCOU    XX         603.0  ...      NaN   NaN    NaN
4              MCOU    XX       11980.0  ...      NaN   NaN    NaN
..              ...   ...           ...  ...      ...   ...    ...
39              NaN   NaN           NaN  ...       IV   8.0   5.25
40              NaN   NaN           NaN  ...       IV  19.0  12.50
41              NaN   NaN           NaN  ...       IV   8.0   5.56
42              NaN   NaN           NaN  ...       IV   8.0   7.91
43              NaN   NaN           NaN  ...       IV   8.0   6.89

[3119859 rows x 23 columns]

In [30]:
print(df4.fillna(0).iloc[0:10, 0:23])

  Utilization Type State  Labeler Code  ...  dataset    x    y
0             FFSU    XX       49502.0  ...        0  0.0  0.0
1             MCOU    XX         603.0  ...        0  0.0  0.0
2             MCOU    XX          78.0  ...        0  0.0  0.0
3             MCOU    XX         603.0  ...        0  0.0  0.0
4             MCOU    XX       11980.0  ...        0  0.0  0.0
5             MCOU    XX       64720.0  ...        0  0.0  0.0
6             FFSU    XX         143.0  ...        0  0.0  0.0
7             MCOU    XX         517.0  ...        0  0.0  0.0
8             FFSU    XX         186.0  ...        0  0.0  0.0
9             MCOU    XX         172.0  ...        0  0.0  0.0

[10 rows x 23 columns]

In [31]:
df5 = df4.fillna(0).iloc[0:10, 0:23]
df5.tail(10)

  Utilization Type State  Labeler Code  ...  dataset    x    y
0             FFSU    XX       49502.0  ...        0  0.0  0.0
1             MCOU    XX         603.0  ...        0  0.0  0.0
2             MCOU    XX          78.0  ...        0  0.0  0.0
3             MCOU    XX         603.0  ...        0  0.0  0.0
4             MCOU    XX       11980.0  ...        0  0.0  0.0
5             MCOU    XX       64720.0  ...        0  0.0  0.0
6             FFSU    XX         143.0  ...        0  0.0  0.0
7             MCOU    XX         517.0  ...        0  0.0  0.0
8             FFSU    XX         186.0  ...        0  0.0  0.0
9             MCOU    XX         172.0  ...        0  0.0  0.0

[10 rows x 23 columns]

In [ ]:
#The first data set has a lot of rows so I showed the first ten rows and the last ten, but it safe to assume that all NaN values have been replaced with 0s. 
#I chose this instead of dropna() because it would remove all of the dataset since all of the rows have NaN values.