<a href="https://colab.research.google.com/github/propst06/DataMining/blob/main/KaitlynPropstAssignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import io
import requests
url="https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.read_csv("https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD", low_memory=False)

In [4]:
df.head()

  Utilization Type State  Labeler Code  ...  Longitude Location          NDC
0             FFSU    XX         49502  ...        NaN      NaN  49502081003
1             MCOU    XX           603  ...        NaN      NaN  00603388112
2             MCOU    XX            78  ...        NaN      NaN  00078050215
3             MCOU    XX           603  ...        NaN      NaN  00603499028
4             MCOU    XX         11980  ...        NaN      NaN  11980022810

[5 rows x 20 columns]

In [5]:
df.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [9]:
def summarize_data(g):
  return(
    pd.Series({
      "avg_year": g.Year.mean(),
      "min_year": g.Year.min(),
      "max_year": g.Year.max(),
      "sample_count": len(g),
      "mix": g.Quarter.sum()/df.Quarter.sum(),
    })
  )

df.groupby("Quarter").apply(summarize_data)
#show average year, smallest year available, largest year available, how many samples fall into that quarter

         avg_year  min_year  max_year  sample_count       mix
Quarter
1          2010.0    2010.0    2010.0      683437.0  0.085076
2          2010.0    2010.0    2010.0      788650.0  0.196347
3          2010.0    2010.0    2010.0      818427.0  0.305641
4          2010.0    2010.0    2010.0      829301.0  0.412936

g becomes a new table of the original dataframe df.

When I applied summarize_data() to my dataframe, I had limited choices with the columns to use. Therefore, I used Quarter and Year, however all of this information was gathered in the year 2010. I would have liked to use Units Reimbursed, but I can't transform the type of data that column is into an int64 because of the null values, even after using df.dropna(). This particular dataset is frustrating to work with at the level of Python I'm comfortable with. With that in mind, the code did work in separating the quarters and applying the formulas, it's just that there wasn't a variety of data to work with.