<a href="https://colab.research.google.com/github/propst06/DataMining/blob/main/KaitlynPropstAssignment6DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import io
import requests
url="https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = pd.read_csv("https://data.medicaid.gov/api/views/mmgn-kvy5/rows.csv?accessType=DOWNLOAD", low_memory=False)

In [4]:
df.head()

  Utilization Type State  Labeler Code  ...  Longitude Location          NDC
0             FFSU    XX         49502  ...        NaN      NaN  49502081003
1             MCOU    XX           603  ...        NaN      NaN  00603388112
2             MCOU    XX            78  ...        NaN      NaN  00078050215
3             MCOU    XX           603  ...        NaN      NaN  00603499028
4             MCOU    XX         11980  ...        NaN      NaN  11980022810

[5 rows x 20 columns]

In [5]:
import regex as re

In [12]:
matches = re.findall('\w+', 'False')
print(matches)
#find matches using regex for the word False

['False']

In [15]:
df.dtypes
#check data types before trying to clean and use regex to fill in

Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                       object
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions           float64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                object
dtype: object

In [16]:
df['supp_string'] = df['Suppression Used'].astype(str)

In [ ]:
#convert column into string

In [17]:
df.dtypes
#check that it worked

Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                       object
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions           float64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                object
supp_string                        object
dtype: object

In [18]:
df.cleaned = df.replace(to_replace ='False', value = '0', regex = True)
df['Sup_Used_Cleaned'] = df.cleaned

df.head()
#Attempt to use to_replace with regex=True to replace False with value 0 in column, create new column that is cleaned. This did not work and instead gave me an error and I tried multiple times to fix it but I couldn't figure it out. I've spent a couple days trying to fix this but I'm just turning it in with the error. Please provide insight on what I'm doing wrong, I've never used Regex before and I'm very discouraged.

ValueError: ignored

In [31]:
import statistics

In [22]:
def my_med(x):
#Gives median of given value 
    return np.median(x)

In [32]:
def my_mode(x):
#Gives mode of given value
    return statistics.mode(x)

In [24]:
def my_mean(x):
#Gives mean of given value
    return np.mean(x)

In [41]:
def my_range(val_list):
    min_val = min(val_list)
    max_val = max(val_list)

    return (min_val, max_val)

In [27]:
median = df['Number of Prescriptions'].apply(my_median)
print(median)
#Using .apply run each formula created. There are a lot of rows in this dataset, so it will only show first and last five rows. I only picked one column to do this on because it would take too long to run it on all of the columns it could be ran on.

0             NaN
1             NaN
2           211.0
3             NaN
4             NaN
            ...
3119810    1734.0
3119811     115.0
3119812       NaN
3119813     111.0
3119814      65.0
Name: Number of Prescriptions, Length: 3119815, dtype: float64

In [28]:
mean = df['Number of Prescriptions'].apply(my_mean)
print(mean)

0             NaN
1             NaN
2           211.0
3             NaN
4             NaN
            ...
3119810    1734.0
3119811     115.0
3119812       NaN
3119813     111.0
3119814      65.0
Name: Number of Prescriptions, Length: 3119815, dtype: float64

In [36]:
df['Number of Prescriptions'].dropna

<bound method Series.dropna of 0             NaN
1             NaN
2           211.0
3             NaN
4             NaN
            ...
3119810    1734.0
3119811     115.0
3119812       NaN
3119813     111.0
3119814      65.0
Name: Number of Prescriptions, Length: 3119815, dtype: float64>

In [37]:
df['NumPresInt'] = df['Number of Prescriptions'].astype(int)

ValueError: ignored

In [34]:
mode = df['Number of Prescriptions'].apply(my_mode)
print(mode)
#I can't calculate the mode because there are too many null values to convert this column into an int type and that is what this requires in order to calculate the mode. This is a dataframe problem, not a code problem.

TypeError: ignored

In [42]:
range = df['Number of Prescriptions'].apply(my_range)
print(range)
#this is running into the same issue with my dataset, there are too many null values to calculate the range because I can't convert it into an integer.

TypeError: ignored